

<div>    
    <canvas id="myChart_{{year}}_{{name}}" width="400" height="400"></canvas>
</div>


{% block scripts %}    
    <script>
    var index = {{year}} + '_' + '{{name}}';
        var data_labels = {{data.labels|safe}}
        var name = '{{name}}';
    var data_values =  {{data.data|safe}} //[{{data.short_term}}, {{data.long_term}}];
    var   chart_id = 'myChart_' + index;
    
    var ctx = document.getElementById(chart_id).getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: data_labels,
            datasets: [{
                labels: 'Assets',
                data: data_values,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        //options: {
        //    title:{
        //        display:true,
        //        text: name
        //    }
        //}
    });
    </script>
{% endblock %}